@mixin typo-setup($size, $ttColor, $ttWieght) {
   font-size: $size;
   color: $ttColor;
   font-weight: $ttWieght
  }

  html{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  }
.dd_h1_white{
    @include typo-setup( 2.5rem,#ffffff ,900 );
    text-align: center;
     @media (min-width: 599px) {
        font-size: 5.55rem;
        margin: 0;
        text-align: center;
        max-width: 43.38rem;
     }  
}

.dd_h1_blue{
    @include typo-setup( 2.5rem,$mainHeadingColor ,900 );
    // margin: 0;
    
    text-align: center;
    @media (min-width: 599px) {
        font-size: 5.55rem;
        text-align: center;
        max-width: 58.38rem;
     }  
}

.dd_h1_black{
    @include typo-setup( 2.5rem,black ,900 );
    // margin: 0;
    
    text-align: center;
    @media (min-width: 599px) {
        font-size: 5.55rem;
        text-align: center;
        max-width: 52.38rem;
     }  
}


.dd_text_large{
    @include typo-setup(1.5rem, #ffffff, 500);
    @media (min-width: 599px) {
        font-size: 2.5rem;       
        max-width: 52.38rem;
     }  
}

.dd_smallText_white{
    @include typo-setup( 2rem, #fff, 500 );
    // margin: 0;
    
    @media(max-width: 599px){
        font-size: 1.5rem;
        max-width: 210px;
    }
}

.dd_smallText_Description{
    @include typo-setup( 2rem, #fff, 500 );
    max-width: 334px;
    // margin-top: 1px;
    @media(max-width: 599px){
        font-size: 1.2rem;
    }
}
.dd_extraSmall_white{
    @include typo-setup( 1.25rem, #fff, 900 );
    max-width: 210px;
    @media screen and (max-width: 599px) {
        font-size: 0.8rem;
    }
//    margin-top: 0;
}   