.dd-primary_button{
    background-color: #ffffff;
    color: $mainRed;
    font-size: 1.00rem;
    // padding: 1.18rem 1.75rem;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #ffffff;
   

}