.dd-menu-icon {
    width: 20px;
    height: 19px;
    
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 23px;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: black;
        transform-origin: 0 0;
        transition: transform .3s ease-out;
    }
    .dd-menu-icon__middle{
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: black;
        transition: all .3s ease-out;
        transform-origin: 0 50%;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: black;
        transform-origin: 0 100%;
        transition: transform .2s ease-out;
    }
    @media screen and (min-width: 800px) {
      display: none;
    }

    &.meunu-icon--close-x{
        
        &::before{
            transform: rotate(45deg) scaleX(1.25);
        }

        .dd-menu-icon__middle{
            opacity: 0;
            transform: scaleX(0);
        }

        &::after{
            transform: rotate(-45deg) scaleX(1.25) translateY(1px);
        }
    }
  }

  .menu-content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: relative;
    z-index: -10;
    display: none;
    text-align: center;

    @media screen and (min-width: 800px) {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
      display: flex;
    }

    &.menu-content--is-visible {
      opacity: 1;
      z-index: 1;
    //   padding-top: 90px;
      transform: scale(1);
      display: flex;

    }
  }

  .dd-nav-logo{
    height: 30px;
    width: 168px;
    @media screen and (min-width: 800px) {
        height: 55px;
        width: auto;
    }
}

.dd-nav-wrapper{
    padding: 0 113px;
    width: 100%;
    position: fixed;
    // background-color: rgba(0,0,0,0.4);
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 25;
    padding: 0.5em;
    transition: background-color .3s ease-out;
    flex-direction: column;

    @media screen and (min-width: 800px) {
        background-color: transparent;
        flex-direction: row;
         &.dd-header_nav-wrapper-dark{
            background-color: rgba(0,0,0,0.4);
         }
    }
}

.dd-nav-wrapper-blue{
    padding: 0 113px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 25;
    padding: 0.5em;
    transition: background-color .3s ease-out;
    flex-direction: column;
    background: rgba(93,154,247,0.62);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    @media screen and (min-width: 800px) {
        
        flex-direction: row;
         &.dd-header_nav-wrapper-dark{
            background-color: rgba(0,0,0,0.4);
         }
    }
}
