.margin-top-14{
    margin-top: -14px
}

.dd-absoulte_hr{
    position: absolute;
    top: -30px;
}

.dd-intro_wrapper{
    position: relative;
}

.dd-transorm-image_45{
    transform: rotate(-45deg);
}