.dd-flex-container__reverse{
    display: flex;
    flex-flow: column-reverse wrap;

    @media screen and (min-width: 599px) {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        > div{
            flex-basis: 50%;
        }
    }
}

.dd-flex-container{
    display: flex;
    flex-flow: column wrap;

    @media screen and (min-width: 599px) {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        > div{
            flex-basis: 50%;
        }
    }
}

.dd-section-image_container{
    display: flex;
    justify-content: center;
    img{
       
    }
}

.dd-section-text_wrapper{

    @media screen and (min-width: 599px) {
        display: flex;
        flex-flow: column;
        /* justify-content: center; */
        align-items: center;
    }
    
}

.dd-section-text_margin_right_200_neg{
    @media screen and (min-width: 800px) {
        margin-right: -200px;
    }
    
}
.dd-section-text_margin_left_200_neg{
    @media screen and (min-width: 800px) {
        margin-left: -200px;
    }
}

.dd-intro_wrapper{
    position: relative;
}

.dd-transorm-image_45{
    transform: rotate(-45deg);
};

.dd-flex-wrapper{
    display: flex;

}
.justifyContent__center{
    justify-content: center;
}
.justifyContent__space_between{
    justify-content: space-between;
}
.dd-align-center{
    align-items: center;
    align-content: center;
}
.dd-flex-column{
    flex-direction: column;
}

.dd-padding-TOP-10-lg{
    padding-top: 2rem;
    @media screen and (min-width: 800px) {
        padding-top: 10rem;
    }
    
}