.primary-nav {
    padding-top: 10px;
    margin: 0;
    padding-left: 0;
    flex-direction: column;
    width: 100%;
  
    @media screen and (min-width: 599px) {
      padding-top: 0;
      flex-direction: row;
      width: auto;
    }
  
    &--pull-right {
        @media screen and (min-width: 599px) {
        float: right;
      }
    }
  
    ul {
      margin: 0;
      padding: 0;
      
    }
  
    li {
      list-style: none;
      margin-bottom: 5px;
    //   display: inline-block;
      padding-right: 7px;
      @media screen and (min-width: 599px) {
        padding-right: 20px;
        float: left;
        display: block;
        margin-bottom: 0;
      }
    }
  
    li:last-child {
      padding-right: 0;
      @media screen and (min-width: 599px) {
        padding-right: 20px;
      }
    }
  
    a {
      color: black;
      font-weight: 300;
      text-decoration: none;
      display: block;
      padding: 5px 8px;
      font-size: .8rem;
      background-color: rgba($mainBlue, .5);
  
      @media screen and (min-width: 599px) {
        font-size: 1rem;
        padding: 12px 0;
        background-color: transparent;
        color: #FFF;
      }
    }
  }

  .nav-container{
      display: none;
      @media screen and (min-width: 599px) {
          display: block;
      }
  }