
.section-wrapper{
   width: 100%;
}   

.sectionPadding{
    padding: 1.87rem 6.25rem;
    @media(max-width: 599px){
        padding: 0;
    }
}
.section-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
   
    // height: 300px;
    margin-top: 10px;
    @media(max-width: 599px){
        flex-direction: column; 
    }

    .section-container__left,.section-container__right{
        // flex-basis: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @media(max-width: 599px){
            flex-basis: 100%; 
             flex: 1 auto;  
        }
    }

    .section-container__left{
        //background-color: red;
        img{
            max-width: 32.91rem;
            max-height: 23rem;
            @media (max-width: 599px) {
                max-width: 18.91rem;
            }
        }
    }
    .section-container__right{
        // background-color: blue;
        img{
            max-width: 32.91rem;
            max-height: 23rem;
            @media (max-width: 599px) {
                max-width: 18.91rem;
            }
        }
    }
}


.dd_hr{
    width: 3.81rem;
    height: 0.19rem;
    background-color: $mainRed;
    border-color: $mainRed;

}

.dd-absoulte_hr{
    position: absolute;
    top: -20px;
}
.dd-banner_wrapper{
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-items: center;
    padding-top: 100px;
}
.dd-alt-blue__bg{
    background-color: $mainHeadingColor;
    width: 100%;
    padding:  2em 0;
}

.dd-img_large{
    margin-right: 400px;
    max-width: 32.91rem;
    height: 150px;
    @media screen and (min-width: 599px) {
        max-width: 32.91rem;
        height: 21rem;
    }
    
}

.dd-img_medium{
    max-width: 18.91rem;
    height: 150px;
}
