@mixin color-setup($bg-color){
    background: $bg-color;
    box-shadow: 3px 2px 4px 0 rgba(0,0,0,0.50);
    // height: 26.94rem;
}

.black{
    @include color-setup(#000000);
}

.green{
    @include color-setup(#1BB390);
}

.yellow{
    @include color-setup(#F8E71C);
}

.purple{
    @include color-setup(#9B8FBA);
}

.dd-layout-page_cards{
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    

    @media screen and (min-width: 599px) {
        flex-flow: row wrap;
        justify-content: center;
       
        padding: 0 11rem;
        > div{
            flex-basis: 50%;
            // width: 50%;
        }
    }
}

.dd-layout-page_cards_img_cont{
    display: flex;
    justify-content: center;
    img{
        width: 22.06rem;
       
        height: 150px;
    }

    @media screen and (min-width: 599px) {
        img{
            height: 22.05rem;
        }
    }
}